[submodule "proto"]
	path = proto
	url = https://github.com/KorolevOl/angular-webtransport-proto
	branch = master
[submodule "web"]
	path = web
	url = https://github.com/KorolevOl/angular-webtransport-web
	branch = master
[submodule "server"]
	path = server
	url = https://github.com/KorolevOl/angular-webtransport-server
	branch = master
[submodule "certs"]
	path = certs
	url = https://github.com/KorolevOl/angular-webtransport-certs
	branch = master
[submodule "edge"]
	path = edge
	url = https://github.com/KorolevOl/angular-webtransport-edge
	branch = master
