[submodule "proto"]
	path = proto
	url = https://github.com/KorolevOl/webtransport-protobuf-proto
	branch = master
[submodule "web"]
	path = web
	url = https://github.com/KorolevOl/webtransport-protobuf-angular-web
	branch = master
[submodule "server"]
	url = https://github.com/KorolevOl/webtransport-protobuf-nodejs-server
	path = server
	branch = master
[submodule "certs"]
	url = https://github.com/KorolevOl/webtransport-protobuf-certs
	path = certs
	branch = master
[submodule "edge"]
	url = https://github.com/KorolevOl/webtransport-protobuf-go-edge
	branch = master
	path = edge
